:root {
    --color-background-light: #fcfcfc; /* Off-white */
}

/********* Debugging Styling *********/
* {
    -border: solid 1px red;
}

header, main, footer {
    border: 4px solid;
    padding: 8px;
    margin: 8px;
}

/********* Grid Structuring *********/
body {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

header {
    grid-column: 2;
    grid-row: 1;
}

main {
    grid-column: 2;
    grid-row: 2;
}

footer {
    grid-column: 2;
    grid-row: 3
}

/********* Styling *********/
/* Header */
header { 
    display: flex;
}

/* Main */
header, main, footer {
    background: var(--color-background-light, white);
}